{%  extends 'base.html' %}{% load static %}

<!--styles-->
{% block style %}
   <style>
       .stands-header {
           margin-left: 20px;
           margin-top: 20px;
           color: rgb(104, 104, 104);
       }

       .wrapper {
           display: grid;
           grid-template-columns: 1fr ;
           height: 70%;
           overflow-y: scroll;  
           margin-top: 10px;
       }

       .wrapper > div{
           margin-left: 20px;
           margin-top: 10px;
       }

       
   </style>
{% endblock  %}

<!-- body -->
{% block body %}
<script>
    console.log("whats happening");
</script>
<div class="wrapper">
<div class="card mb-3" style="max-width: 640px; margin-left: 20px; margin-top: 20px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'jpg/river.jpg' %}" alt="..." style="height: 220px; width:300px; object-fit: cover;">
      </div>
      <div class="col-md-8">
        <div class="card-body"> 
          {% block content %}
          <h5 class="card-title" style="margin-left: 60px; font-size: small;"> Rivers flood 
            </h5>
          <p class="card-text" style="margin-left: 60px; font-size: small;">
              issuinf of stands is currently on hault since rivers are flooded and bla bla bla, more shit and more shit to be written here, its 3AM and my imagination currently isnt available so this will have to change probably.
          </p>
          <p class="card-text" style="margin-left: 60px; font-size: small;"><small class="text-muted">Last updated: today {{time}}</small></p>
          <button type="button" class="btn btn-primary" style="margin-left: 60px; font-size: small;"  onclick="showStandDetail('{{stand.address}}')">More</button>
        {% endblock content %}
        </div>
      </div>
    </div>
  </div>

  
<br>
<br>
<br>
<br>
<br>
<br>
</div>>
{% endblock %}